@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

#sub-info {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  padding: 20px;
}

#weather,
#city,
#clock {
  margin-right: 15px;
}
